html{
    font-family: 'poppins','sans-serif';
}

.card{
    background: linear-gradient(to top left,#ff9966, #ff5e62);
    /*other styles*/
    /* background: linear-gradient(to bottom right, #fbc7d4, #9796f0); */
    /* background: linear-gradient(to bottom, #a1c4fd, #c2e9fb); */
    /* background: linear-gradient(to bottom right, #fdfb97, #a1c4fd); */
    /* background: linear-gradient(to bottom, #f8f9d2, #e8e8e8); */
    /* background: linear-gradient(to bottom, #ff6e7f, #bfe9ff); */
    /* background: linear-gradient(to bottom, #ffdde1, #caf3fe); */
    /* background: linear-gradient(to bottom, #b993d6, #8ca6db); */
    width: 90%;
    max-width: 470px;
    border-radius: 20px;
    margin:50px auto 0;
    padding: 30px 35px;
    color: #fff;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    padding: 10px 25px;
    width: 60px;
    height: 60px;
    cursor: pointer;
   
}
.search button img{
    width: 12px;

   
}
.weather-icon{
    width: 170px;
    margin-top: 20px;
}
.weather h1{
    margin-bottom: 10px;
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
}
.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 20px;
}
.humidity,.wind {
    font-size: 28px;
    margin-bottom: -12px;
}

/* .humidity p:nth-child(2){
    margin-top: -30px;
}
.wind p:nth-child(2){
    margin-top: -30px;
} */
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    display: none;
}